<h1 class='mb-4 border-bottom'>Individual Task </h1>
    <h4 class="border w-50 bg-light p-1">
      <%= @task.title %>
    </h4>
    <p>
      <%= @task.details %>
      - <%= @task.completed %>
    </p>


